.advocacy-bg {
  background: url("../../img/advocacies/bg-1.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

/*CALL TO ACTION*/
.callbox {
  background: #141e61;
  color: #fff;
}

.cta-banner {
  padding-top: 54px;
  padding-bottom: 73px;
}

.learnmorebtn {
  background: #006b9f;
  color: white;
  height: 44px;
  font-family: "Open Sans";
  font-size: 14px;
  letter-spacing: 0.8px;
  padding: 9px;
}

/* added */

.cta-banner p {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 35px;
}

.cta-banner .title {
  margin: 0 auto;
  line-height: 64px;
}

.faq .faq-list ol {
  margin-top: 2rem;
}

.faq .faq-list ol li {
  padding: 0;
}
