/* added */

.cta-banner p {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 35px;
}

.cta-banner .title {
  margin: 0 auto;
  line-height: 64px;
}

.faq .faq-list ol {
  margin-top: 2rem;
}

.faq .faq-list ol li {
  padding: 0;
}
